:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --white: hsl(0, 0%, 100%); 

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
    margin: 0 auto;
    padding: 0 7.8%;
}

img {
    max-width: 100%;
    display: block;
}

/* Background image overlay for desktop */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../design/mobile-design-selected.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  opacity: 0; /* Change the opacity */
  pointer-events: none;
}

body {
    background: var(--rose-50);
    font-family: "Red Hat Text", sans-serif;
}

h1 {
    color: var(--rose-900);
    font-size: 2.6rem;
}

h2 {
    color: var(--red); 
    font-size: 1.5rem;
}

hr {
    border: none;
    border-top: 1px solid var(--rose-900);
    opacity: 0.1;
    width: 100%;
    margin: 0; 
}
button {
    background-color: transparent;
    border: none; 
    font-family: "Red Hat Text", sans-serif;
}

.shop-container {
    display: flex;
    flex-direction: column;
    padding: 7% 0;
    gap: 2rem; 
}


/* Dessert grid styles*/
.dessert-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.desserts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.dessert-card{
    display: flex;
    flex-direction: column;
    width: 264px;
    gap: 40px; 
}

.dessert-image-container img{
    border-radius: 8px;
    width: 100%;
}

.dessert-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dessert-image-container{
    position: relative;
    width: 100%;
}

.add-to-cart-btn,
.cart-quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 4px;
    height: 44px;
    width: 171px;
    
    
    font-size: 0.9rem;
    font-weight: 600;
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.add-to-cart-btn {
    cursor: pointer;
    padding: 12px 44px;

    border: 1px solid var(--red);
    color: var(--rose-900);
    font-weight: 600;
    background: var(--white);
    white-space: nowrap;
}


.add-to-cart-btn:hover {
    color: var(--red);
    border: 1.6px solid var(--red);
}

.add-to-cart-btn img {
    width: 21px;
    height: 20px;
}


.cart-quantity-selector {
    padding: 12px 12px;
    justify-content: space-between;
    color: var(--white);
    font-weight: 600;
    background: var(--red);
}

.quantity-increase-btn,
.quantity-decrease-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--white);
    cursor: pointer;
    padding: 2px; 
}

.quantity-increase-btn:hover,
.quantity-decrease-btn:hover {
    background: var(--white);
}

.quantity-increase-btn:hover svg path,
.quantity-decrease-btn:hover svg path {
    fill: var(--red);
}



.dessert-category,
.dessert-name {
    color: var(--rose-900);
}

.dessert-category {
    font-weight: 400;
    font-size: 1rem;
}

.dessert-name {
    font-weight: 600;
}

.dessert-price {
    color: var(--red);
    font-weight: 600;
}

/* Cart container*/
.cart {
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    gap: 16px;
    height: 100%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-item-details {
    display: flex;
    gap: 16px;
}

.cart-item-quantity {
    color: var(--red);
    font-weight: 600;
}

.cart-item-price {
    color: var(--rose-500);
    font-weight: 400;
}

.cart-item-total {
    color: var(--rose-500);
    font-weight: 600;
}

.cart-item-remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--rose-300);
    cursor: pointer;
    padding: 2px;
}

.cart-item-remove-btn:hover{
    border: 2px solid var(--rose-900);
}
.cart-item-remove-btn:hover svg path {
    fill: var(--rose-900); 
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    font-size: 1.5rem;
    font-weight: 700;
}

.cart-message--carbon-neutral {
    display: flex;
    background: var(--rose-50);
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 4px;
}

.confirm-order-btn {
    font-size: 1rem;
    background: var(--red);
    color: var(--rose-50);

    padding: 16px;
    border-radius: 32px;
}
.confirm-order-btn:hover {
    background: hsl(14, 86%, 33%);
    cursor: pointer;
}


.hidden {
    display: none;
}


/* Tablet */
@media (min-width: 768px) {
    .desserts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Desktop */
@media (min-width: 1024px) {
    body::before {
        background-image: url("../design/active-states.jpg");
    }

    .desserts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .shop-container {
        flex-direction: row;
    }


}